<% content_for :sidebar_title do %>
  <%= Spree.t(:addl_information) %>
<% end %>

<% content_for :sidebar do %>
  <header id="subscription_tab_summary" data-hook>
  <dl class="additional-info">
    <dt>Id:</dt>
    <dd><%= @subscription.id %></dd>
    <dt>Status</dt>
    <dd><span class="state <%= @subscription.active? ? 'success' : 'canceled' %>"><%= Spree.t(@subscription.state, :scope => :subscription_state) %></span></dd>
    <% if @subscription.cancelled? %>
      <dt>Cancelled at</dt>
      <dd><%= l(@subscription.cancelled_at, format: :long) %></dd>
    <% end %>
    <% if @subscription.can_renew? %>
      <dt>Renewal date</dt>
      <dd>
        <%= l(@subscription.next_shipment_date, format: :subscription_date_format) %>
        (<%= link_to 'Renew Now', renew_admin_subscription_path(@subscription), method: :put, data: { confirm: 'Are you sure you want to renew the subscription?' } %>)
      </dd>
      <dt>Skip order</dt>
      <dd><%= @subscription.skip_order_at ? 'Yes' : 'No' %></dd>      
      <dt>Skip order at</dt>
      <dd>
        <%= l(@subscription.skip_order_at, format: :subscription_date_format) if @subscription.skip_order_at %>
        <% if @subscription.skip_order_at.nil? %>
        <%= link_to 'Skip Now', skip_admin_subscription_path(@subscription), method: :put %>
        <% else %>
        (<%= link_to 'Undo', undo_skip_admin_subscription_path(@subscription), method: :put %>)          
        <% end %>
      </dd>      
      <dt>Failed renewals</dt>
      <dd><%= @subscription.failure_count %></dd>
    <% end %>
    <dt>Completed orders</dt>
    <dd><%= @subscription.orders.complete.count %></dd>
    <dt>User</dt>
    <dd><%= link_to(@subscription.user.email, edit_admin_user_path(@subscription.user), target: '_blank') %></dd>
    <dt>Shipping Method</dt>
    <dd><%= @subscription.shipping_method.name if @subscription.shipment && @subscription.shipping_method %></dd>
    <dt>Credit card </dt>
    <dd><%= link_to @subscription.credit_card.display_number, credit_card_admin_subscription_path(@subscription) %></dd>
    <dt>Last updated</dt>
    <dd><%= l(@subscription.updated_at, format: :long) %></dd>    
  </dt>
  </header>
<% end %>