<% content_for :page_title do %>
  <%= t(:credit_card) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_subscription), edit_admin_subscription_url(@object), :icon => 'arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/subscriptions/sidebar' %>

<div class="alpha nine columns new_payment" id="new_payment">
  <div class="field">
    <% if @object.credit_card %>    
    <label><%= Spree.t(:current) %></label>
    <fieldset class="no-border-bottom">
      <dl>
        <dt>ID</dt><dd><%= @object.credit_card.id %></dd>
        <dt>Name</dt><dd><%= @object.credit_card.name %> </dd>
        <dt>Number</dt><dd><%= @object.credit_card.display_number %></dd>
        <dt>Expiration</dt><dd><%= @object.credit_card.month %>/<%= @object.credit_card.year %></dd>
        <dt>Type</dt><dd><%= @object.credit_card.cc_type %></dd>
        <dt>Gateway customer id</dt><dd> <%= @object.credit_card.gateway_customer_profile_id %></dd>
        <dt>Gateway credit card id</dt><dd> <%= @object.credit_card.gateway_payment_profile_id %></dd>
        <dt>Provider</dt><dd><%= @object.credit_card.payment_method.type %></dd>
      </dl>
    </fieldset>
    <% end %>
    <%= form_tag credit_card_admin_subscription_path(@object) do |f| %>
      <label><%= Spree.t(:new_payment_method) %></label>
      <ul>
        <% @payment_methods.each do |method| %>
          <li data-id="<%= Spree.t(method.name, :scope => :payment_methods, :default => method.name).parameterize %>">
            <label data-hook="payment_method_field">
              <%= radio_button_tag 'payment[payment_method_id]', method.id, method == @payment_method, { class: "payment_methods_radios" } %>
              <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
            </label>
          </li>
        <% end %>
      </ul>

      <div class="payment-method-settings">
        <% @payment_methods.each do |method| %>
          <div class="payment-methods" id="payment_method_<%= method.id %>">
            <% if method.source_required? %>
              <%= render :partial => "spree/admin/payments/source_forms/gateway", :locals => { :payment_method => method, :previous_cards => [] } %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <fieldset class="no-border-top">
        <div class="filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.add'), 'plus' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>