<% content_for :page_title do %>
  <%= t(:listing_subscriptions) %>
<% end %>

<% content_for :page_actions do %>
  <li></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_subscriptions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="four columns alpha">
        <div class="date-range-filter field">
          <%= label_tag :q_created_at_gt, Spree.t(:date_range) %>
          <div class="date-range-fields">
            <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start) %>

            <span class="range-divider">
              <i class="fa fa-arrow-right"></i>
            </span>

            <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop) %>
          </div>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
          <%= label_tag :q_user_email_cont, Spree.t(:email) %>
          <%= f.text_field :user_email_cont, tabindex: 2 %>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
          <%= label_tag :q_orders_number_cont, Spree.t(:order_number) %>
          <%= f.text_field :orders_number_cont, tabindex: 3 %>
        </div>
      </div>

      <div class="four columns omega">
        <div class="field">
          <%= label_tag :q_id_eq, Spree.t(:id) %>
          <%= f.text_field :id_eq, tabindex: 1 %>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_promotions_index_search_buttons">
          <%= button Spree.t(:filter_results), 'search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @subscriptions.empty? %>
  <div class="pagination">
    <%= page_entries_info @collection %>
  </div>
  <table class="index responsive" id="listing_subscriptions" data-hook width="100%">
    <colgroup>
       <col style="width: 5%;">
       <col style="width: 8%;">
       <col style="width: 10%;">
       <col style="width: 18%;">
       <col style="width: 15%;">
       <col style="width: 3%;">       
       <col style="width: 9%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_subscriptions_index_headers">
        <th>ID</th>
        <th>State</th>
        <th>Frequency</th>
        <th>Last Order</th>
        <th>User</th>
        <th>Skip</th>
        <th>Renew Date</th>
        <th data-hook="admin_subscriptions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr data-hook="admin_subscriptions_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class="align-center"><%= subscription.id %></td>
        <td class="align-center">
            <span class="state <%= subscription.active? ? 'success' : 'canceled' %>"><%= subscription.state %></span>
        </td>        
        <td class="align-center">
          <% if subscription.can_renew? %>
          Every  <%= pluralize(subscription.interval, 'month') %>
          <% end %>
        </td>
        <td>
          <span class="state <%= subscription.orders.first.state.downcase %>">
            <%= link_to subscription.orders.first.number, edit_admin_order_path(subscription.last_order), target: '_blank' %>
          </span>
          <br />
          <%= l(subscription.last_order_date, format: :long)  %>
          <br />
          <%= subscription.shipping_method.name if subscription.shipment && subscription.shipment.shipping_method %>
        </td>
        <td class="align-center">
          <%= link_to(subscription.user.email, edit_admin_user_path(subscription.user), target: '_blank') if subscription.user %>
        </td>
        <td class="align-center"><%= subscription.skip_order_at ? 'Yes' : '' if subscription.can_renew? %></td>
        <td class="align-center"><%= l(subscription.next_shipment_date, format: :subscription_date_format) if subscription.can_renew? %></td>
        <td class='actions align-center' data-hook="admin_subscriptions_index_row_actions">
          <%=
            link_to_with_icon 'edit', 'Edit', edit_admin_subscription_path(subscription), no_text: true
          -%>
          <%=
            unless subscription.cancelled?
              link_to_with_icon 'cancel', 'Cancel', cancel_admin_subscription_path(subscription),
                no_text: true, data: { confirm: t(:are_you_sure), action: 'remove' }
            end
          -%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= t(:no_subscriptions_found)%>
  </div>
<% end %>

<%= paginate @subscriptions %>
