<% content_for :page_title do %>
  <%= t(:listing_subscriptions) %>
<% end %>

<% unless @subscriptions.empty? %>
  <table class="index responsive" id="listing_subscriptions" data-hook width="100%">
    <colgroup>
       <col style="width: 5%;">
       <col style="width: 10%;">
       <col style="width: 18%;">
       <col style="width: 18%;">
       <col style="width: 18%;">
       <col style="width: 9%;">
       <col style="width: 9%;">
       <col style="width: 5%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_subscriptions_index_headers">
        <th>ID</th>
        <th>State</th>
        <th>Products</th>
        <th>Frequency</th>
        <th>Last Order</th>
        <th>Next Shipment Date</th>
        <th>Cancelled At</th>
        <th data-hook="admin_subscriptions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr data-hook="admin_subscriptions_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= subscription.id %></td>
        <td><%= subscription.state %></td>
        <td>
            <% subscription.last_order.line_items.each do |line_item|  %>
            <%= line_item.variant.product.name %> <%= "(#{line_item.variant.options_text})" unless line_item.variant.option_values.empty? %>
            <br/>
            Qty: <%= line_item.quantity %>
            <% end %>
        </td>
        <td>Every <%= pluralize(subscription.interval, 'month') %></td>
        <td>
          <%= link_to subscription.last_order.number, edit_admin_order_path(subscription.last_order), target: '_blank' %>
          <br />
          <%= l(subscription.last_order.created_at, format: :long)  %>
          <br />
          <%= link_to subscription.user.email, edit_admin_user_path(subscription.user), target: '_blank' %>
        </td>
        <td>
          <%=
            unless subscription.cancelled?
              subscription.next_shipment_date.strftime '%a, %b %d, %Y' if subscription.next_shipment_date
            else
              'N/A'
            end
          -%>
        </td>
        <td><%= l(subscription.cancelled_at, format: :long) if subscription.cancelled_at %></td>
        <td class='actions align-center' data-hook="admin_subscriptions_index_row_actions">
          <%=
            unless subscription.cancelled?
              link_to_with_icon 'cancel', 'Cancel', cancel_admin_subscription_path(subscription),
                no_text: true, data: { confirm: t(:are_you_sure), action: 'remove' }
            end
          -%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= t(:no_subscriptions_found)%>
  </div>
<% end %>

<%= paginate @subscriptions %>
