<div data-hook="account_my_subscriptions">

  <h3><%= t(:my_subscriptions) %></h3>
  <% if @user.subscriptions.present? %>
    <table class="subscription-summary">
      <thead>
        <tr>
          <th><%= t(:products) %></th>
          <th><%= t(:last_shipped_on) %></th>
          <th><%= t(:next_shipment) %> </th>
          <th><%= t(:status) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.products.collect(&:name).to_sentence %></td>
            <td><%= subscription.last_shipment_date %></td>
            <td><%= subscription.next_shipment_date %></td>
            <td><%= t(subscription.state, scope: 'subscription_state', default: t('subscription_state.active')).titleize %></td>
            <td>
              <% if !subscription.paused? %>
                <%= link_to t('action.pause'), pause_subscription_path(subscription), :method => :put, :class => "pause-subscription" %>
              <% else %>
                <%= button_to 'Resume', resume_subscription_path(subscription), :method => :put %>
                <!-- <%= form_for subscription, :url => resume_subscription_path(subscription)  do |f| %>
                  <%= f.label(:resume_at, "Resume on") %>
                  <%= f.date_field(:resume_at) %>
                  <%= f.submit("Resume") %>
                <% end %> -->
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(:you_have_no_subscriptions_yet) %></p>
  <% end %>
  <br />

</div>
